{% extends 'layout.html' %}
{% load static %}

{% block title %}Inventory correction{% endblock %}

{% block body %} 
<script src = "../static/inventoryCount.js"></script>
<div class = "back-btn"><a href="/main_menu">(Back)</a></div>
<div class = "ICScreen">
    <h1>Inventory correction</h1>
    <div class = "ICMain">
        <div class = "error-msg">UPC not found</div>
        <div>Name: <span class = "IC_name"></span></div>
            <input class = "upcInput" type="number" placeholder = "UPC:" name = "upc">
            <input class = "qtyInput" type="number" placeholder = "Qty:" name = "qty">
            <input class = "submitInput" type="submit" value="Enter">
        <div>List:
            <div class = "listOfChanges">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}